---
import config from "../../config";

const { pathname } = Astro.url;
console.log(pathname);
---

<nav class={"w-full flex justify-center items-center"}>
    <main
        class={"top-2 fixed w-full max-w-[min(1000px,90vw)] flex flex-row justify-between items-center gap-8 py-2 px-4 border-transparent border-2 rounded-xl backdrop-blur-[0px] bg-transparent text-[var(--colours-text-semi-important)] transition-all duration-200"}
        id={"navbar"}
    >
        {
            config?.settings?.navbar?.items?.map((category) => (
                <section class={"flex flex-row items-center"}>
                    {category?.map((entry) => (
                        <a
                            class={
                                pathname === entry?.href
                                    ? "font-bold"
                                    : undefined
                            }
                            href={entry?.href}
                        >
                            {entry?.label}
                        </a>
                    ))}
                </section>
            ))
        }
    </main>
</nav>

<script is:inline>
    const minScrollToActive = 75;
    const activeClassNames =
        "top-5 !border-[var(--colours-border-tertiary)] !backdrop-blur-[3px] !bg-[var(--colours-border-tertiary)]";

    const navbarElement = document.getElementById("navbar");

    window.addEventListener("scroll", () => {
        if (window.scrollY >= minScrollToActive) {
            const currentClassName = navbarElement.className;
            if (currentClassName?.includes(activeClassNames)) return;

            navbarElement.className = `${currentClassName} ${activeClassNames}`;
        } else {
            const currentClassName = navbarElement.className;
            if (!currentClassName?.includes(activeClassNames)) return;

            navbarElement.className = navbarElement.className?.replaceAll(
                activeClassNames,
                "",
            );
        }
    });
</script>
