.background {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: var(--colours-foreground);
    /* background: linear-gradient(
        25deg,
        hsl(256, 33%, 14%) 0%,
        hsl(264, 43%, 9%) 50%,
        hsl(242, 14%, 5%) 100%
    ); */

    background: var(--colours-background-gradient);
    background-size: 200% 200%;
    animation: background 45s ease-in-out infinite;

    z-index: -1;
}

.background::before {
    position: absolute;
    content: "";

    width: 100%;
    height: 100%;

    background-image: radial-gradient(
        var(--colours-background-accent) 1px,
        transparent 0
    );
    background-size: 20px 20px;
}

@keyframes background {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
